#!/opt/facebook/nix/store/ll3fyrrf3p415k6jfsqnv13nn6aiag5b-bash-4.4-p23/bin/bash
#
# An example hook script to prepare a packed repository for use over
# dumb transports.
#
# To enable this hook, rename this file to "post-update".

exec git update-server-info
